body{
	background-color: #EFEFF2 !important;
	color: #343434 !important;
	margin: auto !important;
}

@media (max-width: 767px){
	.visible-xs {
    	display: block!important;
    }
    .features{
		padding-left: 40px !important;
		padding-right: 40px !important;
	}
}

@media (min-width: 992px){
	body{
		max-width: 1024px;
		width: 1024px;
		margin: auto;
	}

	.container {
	    width: 1024px !important;
	}
	.container-fluid {
		width: 1024px !important;	
	}
	
	.row{
		background-color: #FFFFFF !important;
		margin-right: 0px !important; 
		margin-left: 0px !important; 

	}
	.col-md-9{
		padding-right: 0px !important;
	 	padding-left: 0px !important;
	}
	.col-md-3{
		padding-right: 0px !important;
	 	padding-left: 0px !important;
	}
	.col-md-6{
		padding-right: 0px !important;
	 	padding-left: 0px !important;
	}
	.car-image-container{
		max-width: 728px;
		max-height: 432px;
	}
	.car-detail-container{
		max-width: 296px;
		max-height: 432px;
		width: 296px !important;
	}
	.features-content{
		background-color: #EFEFF2 !important;
	}
	.features{
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
}

.row{
	background-color: #FFFFFF;
}

.car-detail-container{
	padding-left: 40px !important;
	
}

.thumbail{
	cursor: pointer;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

/* unvisited link */
a:link {
    color: #9B9B9B;
}

/* visited link */
a:visited {
    color: #9B9B9B;
}

/* mouse over link */
a:hover {
    color: #9B9B9B;
}

/* selected link */
a:active {
    color: #9B9B9B;
}

.hidden{
	display: none;
}

.col-md-2{
	padding-right: 0px;
	padding-left: 0px; 
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #080808;
}
.carousel .item {
	  height: 256px;
	}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 256px;
}

.navbar-right {
    float: right!important;
    margin-right: -15px;
    text-align: center;
}

.container{
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
	margin-bottom: -20px;
}

.color-gray{
	
	padding-top: 15px;
}

.menu-item{
	background-color: #F88200;
   	padding-top: 16px;
    height: 56px;
    width: 75px;
    border: 1px #FFFFFF;
    cursor: pointer;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
}

.menu-item:hover{
	background-color: rgba(248, 130, 0, 0.62);
}

.menu-item.active{
	background-color: #000000;
}

.icon{
	width: 16px;
	height: 16px;

}
.list-group-item {
	padding: 0px 0px;
	border: 0px;
	padding-top: 2px;
}
.table{
	padding-right: 32px;
	padding-left: 32px;
	background-color: #FFFFFF;
}

footer{
	padding-top: 10px;
	background-color: #000000;
	color: #EFEFF2;
	text-align: center;
	height: 99px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
}
.footer-text{
	padding-top: 8px;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav {
     margin: 0px 0px !important;
}

.btn-call-us{
	width: 100%;
}
.btn{
	border-radius: 0px;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 0px; 
}
.top-space{
	padding-top: 18px;
}
.icon-email{
	margin-left: 13px;
	
}
.float-left{
	float: left;
}

.top15{
	padding-top: 15px;
}

.numbers{
	color: #106838;
	padding-left: 11px;
}

.views{
    left: 35px;
    position: absolute;
}


nav{
	background-color: #000000;
	height: 56px;
}

.orange{
	background-color: #F88200;
	height: 100%;
}

.title{
	left: 40px;
    position: relative;
}

h1{
	font-family: "Helvetica Neue";
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
h2{
	font-family: "Helvetica Neue";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
h3{
	font-family: "Helvetica Neue";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
h4{
	font-family: "Helvetica Neue";
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	color: #343434;
}
h5{
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: medium;
	color: #9B9B9B;
}
h6{
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}
h7{
	font-family: "Helvetica Neue";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: medium;
}
h8{
	font-family: "Helvetica Neue";
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
h9{
	font-family: "Helvetica Neue";
	font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: medium;
}





